/***  FONTS ***/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

/***  VARIABLES & THEMES ***/

:root {
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: "Archivo", sans-serif;
  --character-top-image-src: url("../assets/img/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../assets/img/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../assets/img/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}

.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../assets/img/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../assets/img/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../assets/img/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}

.dark-theme .invert-element {
  transform: rotateZ(180deg) scaleX(-1);
}

/***  GENERIC STYLES ***/

* {
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

body {
  background: var(--page-background);
}

h1,
h2,
h3 {
  font-family: var(--featured-font-family);
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font-family: "Libre Baskerville", serif;
}

button {
  padding: 16px 32px;
  background-color: transparent;
  font-weight: 900;
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 1s;
}










/* ======= Header/Cabeçalho ======= */

/* ======= Main/Conteúdo Principal ======= */
/* ======= Section 1/Text ======= */
/* ======= Section 2/Video ======= */
/* ======= Section 3/Gallery ======= */
/* ======= Section 4/form ======= */

/* ======= Footer/Rodapé ======= */

/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*
-  Figma - https://www.figma.com/file/I3Q42CcVUziRN3iMfTrbfb/Stranger-Things?node-id=0%3A1
*/
